.cartButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F06406;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.cartButton:hover {
    background-color: #e45b06;
}
