.deliveryDetailContainer {
    margin: 20px 0;
  }
  
  .addressForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .addressDisplay {
    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    transition: border-color 0.2s ease;
    background-color: #FEF3E3;
  }
  
  .input:focus {
    border-color: #FA812F;
    outline: none;
    box-shadow: 0 0 5px rgba(240, 100, 6, 0.5);
  }
  
  .saveButton, .editButton {
    padding: 10px 20px;
    width: fit-content;
    font-size: 14px;
    background-color: #FA812F;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .saveButton:hover, .editButton:hover {
    background-color: #FA812F;
  }
  
  .actionButton {
    background-color: #FA812F;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 150px;
    text-align: center;
  }
  
  .actionButton:hover {
    background-color: #FA812F;
  }