.paymentPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px;
  min-height: 100vh;
}

.stepNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.navigationButtons {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 40px;
}

.navigationButton {
    background: none;
    border: none;
    color: #FA812F;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.navigationButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.navigationButton:hover:enabled {
  color: #FA812F;
}

.stepIndicator {
  display: flex;
  gap: 10px;
}

.stepDot {
  width: 12px;
  height: 12px;
  background-color: #fdf6e3;
  transition: background-color 0.3s ease;
  box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.5);
}

.activeStep {
  background-color: #FA812F;
}

.stepTitle {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
}

.subTitle {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.deliveryTimeContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.deliveryTimeInput {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  width: 70%;
  background-color: #FEF3E3;
}

.asapButton {
  background-color: #FA812F;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.asapButton:hover {
  background-color: #FA812F;
}

.payButton {
  background-color: #FA812F;
  color: #fff;
  border: none;
  padding: 12px 25px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 300px;
}

.payButton:hover {
  background-color: #FA812F;
}

.thankYouDialog {
  margin-top: 20px;
  background-color: #000000;
  color: #fff;
  padding: 15px 20px;
  border-radius: 6px;
  font-size: 1rem;
  text-align: center;
}

.saveDetailsButton {
  background-color: #FA812F;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 300px;
}

.saveDetailsButton:hover {
  background-color: #FA812F;
}

.actionButton {
  background-color: #FA812F;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  width: 100%;
  min-width: 150px;
  max-width: 300px;
  text-align: center;
  box-shadow: 7px 7px rgba(0, 0, 0, 0.5);
}

.actionButton:hover {
  background-color: #FA812F;
}

.payButton {
  margin-top: 0;
}

.successMessage {
  color: green;
  font-size: 0.9rem;
  margin-top: 5px;
}

.errorMessage {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}

.deliveringDialog {
  margin-top: 20px;
  color: #FA812F;
  padding: 15px 20px;
  border-radius: 6px;
  border: 1px solid #FA812F;
  font-size: 1rem;
  text-align: center;
}

.totalPrice{
  color: #FA812F;
  font-weight: 600;
  font-size: 20px;
}

.lineHorizontal {
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 90%;
  margin: 10px 0; 
}

.feePrice{
font-weight: bold;
}

.background{
  background-color: #FEF3E3;
  padding: 15px;
  box-shadow: 7px 7px rgba(0, 0, 0, 0.5);
}