.restaurantPageContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 80px;
    gap: 20px;
    margin: 20px;
  }
  
  .backArrowContainer {
    position: fixed;
    top: 80px;
    left: 20px;
  }
  
  .backArrow {
    background: none;
    border: none;
    color: #FA812F;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .backArrow:hover {
    color: #FA812F;
  }
  
  .foodListSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    min-width: 300px;
  }
  
  .payButton {
    bottom: 80px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 14px;
    width: 90px;
    background-color: #FA812F;
    border: none;
    align-self: stretch;
    cursor: pointer;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.5);
  }
  
  .payButton:hover {
    background-color: #FA812F;
  }

.line{
  height: 850px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.row{
  display: flex;
  flex-direction: column;
}

.totalPrice{
  color: #FA812F;
  font-weight: 600;
}

.lineHorizontal {
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 90%;
  margin: 10px 0; 
}