.header ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.headerContainer{
    display: flex;
    justify-content: center;
}

.menuItemsStyle{
    font-size: 19px;
    cursor: pointer;   
}

.menuItemsStyle:hover{
    color: #FEF3E3;
}


.header{
    height: 60px;
    width: 100%;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FA812F; 
}



.searchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    height: 30px;
    width: 230px;
    padding: 0 10px;
    background-color: #FEF3E3;
}

.searchIcon{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.burgerMenu{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FA812F;
    border: 2px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.burgerMenu:hover {
    background-color: #e45b06;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
}

.titleText {
    font-size: 35px;
    margin: 0;
    cursor: pointer;
}

.unselectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  