.restaurantContainer{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 20px;
}

.restaurant{
    height: 170px;
    width: 170px;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.5);
    flex-shrink: 0;
}

.top{
    font-weight: bold;
}