.name {
  font-weight: bold;
}

.foodItem {
  padding-bottom: 20px;
}

.totalPrice {
  font-size: 16px;
  color: #FA812F;
  margin-top: 30px;
  font-weight: bold;
}

.foodListContainer {
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
    min-width: none;

    max-height: 40rem;

    scrollbar-width: thin;
    scrollbar-color: transparent;

    scrollbar-width: none;
}


.foodListContainer::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.foodListContainer::-webkit-scrollbar-thumb {
    background-color: transparent;
}
