.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding-top: 65px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    padding-top: 20px;
}

.input{ 
    background-color: #FEF3E3;
    width: 450px;
    height: 50px;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.5);
    padding-left: 10px;
}

button {
    all: unset;
    display: inline-block; 
    cursor: pointer;
}

button:hover{
    color: #FEF3E3;
}

.successMessage {
    font-size: 20px;
    margin-top: 120px;
    padding-inline: 10px;
    background-color: #FEF3E3;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.5);
  }
  